@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  box-sizing: border-box; /* newly added */
}
body{
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
/* menu */
.menu{
  height: 70px;
  background-color: black;
}
nav ul{
  display: flex;
  justify-content: right;
  list-style: none;
}
nav ul li{
  margin-top: 15px;
} 
nav ul li a{
  margin-right: 50px;
  font-size: 24px;
  font-weight: 900;
  text-decoration: none;
  color: whitesmoke;
}
nav ul li a:hover{
  cursor: pointer;
  color: orangered;
}
/* hero */
.wall-image{
  height: 80vh;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-image: url(imgs/taco1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -10;
}
.wall-text{
  position: absolute;
  top: 10%;
  left: 12%;
  text-align: left;
  color: whitesmoke;
}
.brand{
  font-size: 96px;
}
.motto{
  font-size: 24px;
}
.text-motto{
  width: 45vw;
  margin-top: 10px;
  margin-bottom: 40px;
}
.cta-hero{
  margin-top: 25px;
}
.cta{
  width: 215px;
  height: 73px;
  margin-left: 40px;
  font-size: 24px;
}
.cta-left{
  margin-right: 15px;
  background-color: orangered;
  border: none;
}
.cta-right{
  color: whitesmoke;
  background-color: transparent;
  border: 3px solid whitesmoke;
}
/* features boxes */
.container-outflow{
  margin-top: -150px;
}
.squares-container{
  display: flex;
  justify-content: space-around;
  z-index: 100;
}
.square{
  width: 349px;
  height: 353px;
  color: whitesmoke;
  background-color: orangered;
}
.img1{
  width: 150px;
  height: 144px;
  background-color: transparent;
}
.square-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}
.square-info > p{
  margin-top: 7px;
  font-size: 24px;
}
/* birria presenetation */
.birria-presentation{
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
}
.birria-presentation > img{
  width: 530px;
  height: 492px;
  border-radius: 2%;
}
.birria-text{
  width: 45%;
}
.birria-text  > h2{
  font-size: 72px;
}
.birria-text > p{
  margin-top: 25px;
  width: 70%;
  font-size: 30px;
}
.birria-banner{
  width: 1029px;
  height: 195px;
  margin: auto;
  margin-top: 70px;
  text-align: left;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 1.2em;
  border: 8px solid #EB5A2C;
}
/* gallery section */
.gallery{
  display: flex;
  justify-content: space-around;
  margin-top: 134px;
}
.gallery-grid{
  display: flex;
  flex-direction: column;
}
.gallery-grid .left-top{
  width: 423px;
  height: 311px;
  margin-bottom: 18px;
}
.gallery-grid .left-down{
  width: 423px;
  height: 518px;
}
/* delivery form */
section.delivery{
  width: 95%;
  margin: auto;
  margin-top: 36px;
  height: 705px;
  background: linear-gradient(180deg, #EB5A2C 0%, rgba(196, 196, 196, 0) 100%);
}
.container-form{
  display: flex;
  justify-content: space-around;
  /* transform: rotate(-89.93deg); */
}
.container-form > h2{
  width: 40%;
  margin-top: 72px;
  margin-left: 101px;
  font-size: 96px;
  color: whitesmoke;
}
form{
  margin-top: 65px;
  padding: 50px;
  font-size: 25px;
  background: rgba(229, 229, 229, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
input{
  width: 510px;
  height: 59px;
  margin-top: 5px;
  margin-bottom: 25px;
  border: none;
  border-radius: 20px;
}
#name_user{
  background-color: orangered;
}
.btns-form > button{
  width: 230px;
  height: 48px;
  border-radius: 20px;
  border: none;
  background-color: orangered;
}
.btns-form > button:first-child{
  margin-right: 37px;
}
/* rating section */
.rating-text{
  width: 542px;
}
.stars{
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.stars img{
  width: 66px;
  height: 60px;
}
/* footer */
footer{
  width: 100%;
  height: 338px;
  font-size: 24px;
  font-weight: 900;
  color: whitesmoke;
  background-color: black;
}
.footer-text{
  width: 542px;
  margin-left: 5%;
}
.footer-text h2{
  padding: 18px 0;
}
.footer-text p{
  line-height: 28px;
}
/* footer img{
  display: flex;
  width: 149px;
  height: 142px;
  margin: 0;
} */