@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: whitesmoke;
  background-image: url(/ISLA_02.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1, h3{
  text-align: center;
}
ul li{
  color: whitesmoke;
}
ul li:hover{
  color: orange;
  cursor: pointer;
}
p{
  font-size: 20px;
  width: 80vw;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 25px;
  background-color: black;
  border-radius: 2%;
  padding: 20px;
}
span{
  font-size: 10px;
}
