body{
  background-color: wheat;
}
h1{
  text-align: center;
  font-size: 3rem;
}
p, h3{
width: 80vw;
margin-left: 10vw;
}
.p-aqua{
  background-color: aqua;
}
.p-purple{
  background-color: blueviolet;
}   
.p-aqua, .p-purple{
  font-size: 1.5rem;
}
#p-white{
  color: whitesmoke;
  background-color: black;
}
